@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #101324;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 55px;
}

h2 {
  font-size: 43px;
  line-height: 47.3px;
}

h3 {
  font-size: 36px;
  line-height: 39.6px;
}

h4 {
  font-size: 30px;
  line-height: 33px;
}

h5 {
  font-size: 25px;
  line-height: 27.5px;
}

h6 {
  font-size: 22px;
  line-height: 24.2px;
}

.p-x {
  padding-left: 222px;
  padding-right: 222px;
}

.p-y {
  padding-top: 60px;
  padding-bottom: 60px;
}

.m-y {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-t {
  margin-top: 479px;
}

.m-x {
  margin-left: 222px;
  margin-right: 222px;
}

.p-x-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.m-l-27 {
  margin-left: 27px;
}

.m-t-55 {
  margin-top: 55px;
}

.mt-22 {
  margin-top: -22px;
}

.ml-142 {
  margin-left: -142px;
}

.ml-115 {
  margin-left: -115px;
}

.btn-bg {
  position: relative;
  height: 70px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 21.6px;
  background: #375FEB;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  margin-top: 38px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease-out;
}
@media (max-width: 1000px) {
  .btn-bg {
    margin-right: auto;
    margin-left: auto;
  }
}
.btn-bg:hover {
  opacity: 0.5;
}

.btn {
  position: relative;
  height: 70px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 21.6px;
  background: none;
  border: 2px solid #375FEB;
  border-radius: 40px;
  color: #FFFFFF;
  margin-top: 38px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease-out;
}
@media (max-width: 1000px) {
  .btn {
    margin-right: auto;
    margin-left: auto;
  }
}
.btn:hover {
  background: #375FEB;
}

.home {
  position: relative;
  height: 809px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/sam-moghadam.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .title {
  position: relative;
  height: 284px;
  width: 190px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}
.home .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
}
.home .title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.home .title h1 span:first-child {
  color: #375FEB;
}
.home .title h1 span:nth-child(3) {
  color: #375FEB;
}
.home .title p {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 15px;
}
.home .event {
  position: relative;
  height: 507px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  .home .event {
    width: 100%;
    height: 100%;
  }
}
.home .event .list-event {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -120px;
  background: #14182C;
}
@media (max-width: 1000px) {
  .home .event .list-event {
    height: 110%;
  }
}
.home .event .list-event span {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.home .event .list-event .sub-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .home .event .list-event .sub-event {
    flex-direction: column;
  }
}
.home .event .list-event .sub-event .img-event {
  position: relative;
  height: 379px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/spencer-davis.jpg);
  background-size: cover;
  background-position: center;
}
@media (max-width: 1000px) {
  .home .event .list-event .sub-event .img-event {
    width: 200px;
    height: 279px;
    margin-left: 0;
    margin-top: -80px;
  }
}
.home .event .list-event .sub-event .img-event h3 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.home .event .list-event .sub-event .about-event {
  position: relative;
  height: 379px;
  width: 490px;
  margin-left: 90px;
}
@media (max-width: 1000px) {
  .home .event .list-event .sub-event .about-event {
    width: 300px;
    height: 379px;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}
.home .event .list-event .sub-event .about-event p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 28px;
}
.home .event .list-event .sub-event .about-event p:first-child {
  margin-top: 0px;
  color: #3B94E7;
}
.home .event .list-event .sub-event .about-event h2 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-top: 12px;
}
.home .event .list-event .sub-event .about-event h6 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-top: 12px;
}

nav {
  position: relative;
  height: 87px;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: top;
}
@media (max-width: 1000px) {
  nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
nav .sosmed {
  position: relative;
  height: 87px;
  width: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: -222px;
}
@media (max-width: 1000px) {
  nav .sosmed {
    position: relative;
    height: 87px;
    width: 100px;
    margin-left: 0px;
    border-right: none;
  }
}
nav .sosmed a {
  position: relative;
  height: 21px;
  width: 18px;
}
@media (max-width: 1000px) {
  nav .sosmed a {
    display: none;
  }
}
nav .sosmed a:nth-child(2) {
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 24px;
}
nav .sosmed a:nth-child(3) {
  position: relative;
  height: 15px;
  width: 20px;
  margin-left: 24px;
}
nav .sosmed a img {
  position: absolute;
  height: 100%;
  width: 100%;
}
nav .sosmed span {
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-left: -40px;
  display: none;
}
@media (max-width: 1000px) {
  nav .sosmed span {
    display: block;
  }
}
nav .links {
  position: relative;
  height: 87px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1000px) {
  nav .links {
    position: absolute;
    width: 100%;
    height: 400px;
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    flex-direction: column;
    background: #101324;
    top: 87px;
    left: 0;
    z-index: 99;
  }
}
nav .links a {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17.6px;
  text-decoration: none;
  color: #9FA1A7;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  nav .links a {
    margin-top: 20px;
  }
}
nav .links a:first-child span {
  margin-left: 24px;
}
nav .links a:nth-child(2) span {
  margin-left: 9.5px;
}
nav .links a:nth-child(3) span {
  margin-left: 36.5px;
}
nav .links a:nth-child(5) span {
  margin-left: 16px;
}
nav .links a:hover span {
  opacity: 1;
}
nav .links a div {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
}
nav .links a div:first-child {
  color: #375FEB;
}
nav .links a span {
  position: absolute;
  height: 5px;
  width: 43px;
  bottom: 0;
  border-radius: 4.5px;
  background: #375FEB;
  opacity: 0;
  transition: 0.5s ease-out;
}
nav .login {
  position: relative;
  height: 87px;
  width: 222px;
  margin-right: -222px;
}
@media (max-width: 1000px) {
  nav .login {
    margin-top: 700px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    z-index: 100;
  }
}
nav .login a {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21.6px;
  text-decoration: none;
  color: #FFFFFF;
  background: #375FEB;
  font-weight: bold;
}
@media (max-width: 1000px) {
  nav .login a {
    margin-left: -35px;
  }
}

.button {
  display: none;
  color: #FFFFFF;
}
@media (max-width: 1000px) {
  .button {
    display: block;
  }
}

.close {
  display: none;
  color: #FFFFFF;
}

.biography {
  position: relative;
  height: 809px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/band_all.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.biography .title {
  position: relative;
  height: 284px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
}
.biography .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
  display: flex;
}
.biography .title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.biography .title h1 span:first-child {
  color: #375FEB;
}
.biography .title h1 span:nth-child(3) {
  color: #375FEB;
}
.biography .title p {
  position: relative;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 20px;
}
.biography .event {
  position: relative;
  height: 910px;
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
.biography .event .list-events {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  top: 35px;
  background: linear-gradient(180deg, rgba(38, 79, 226, 0.2) 0%, rgba(38, 79, 226, 0) 100%);
}
.biography .event .list-events .event2 {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.biography .event .list-events .event2 .sub-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.biography .event .list-events .event2 .sub-event .img-event {
  position: relative;
  height: 469px;
  width: 50%;
  background: url(../img/band_all.png);
  padding-top: 144px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.biography .event .list-events .event2 .sub-event .img-event span {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 436px;
}
.biography .event .list-events .event2 .sub-event .img-event span:first-child {
  color: #375FEB;
}
.biography .event .list-events .event2 .sub-event .img-event span:nth-child(3) {
  color: #375FEB;
}
.biography .event .list-events .event2 .sub-event .about-event {
  position: relative;
  height: 469px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biography .event .list-events .event2 .sub-event .about-event .text {
  position: relative;
  height: 300px;
  width: 300px;
}
.biography .event .list-events .event2 .sub-event .about-event .text h2 {
  text-transform: capitalize;
  font-weight: bold;
  color: #FFFFFF;
}
.biography .event .list-events .event2 .sub-event .about-event .text p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 33px;
}
.biography .event .list-events .event2 .list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 130px;
}
.biography .event .list-events .event2 .list-box .box {
  position: relative;
  height: 218px;
  width: 228px;
  border: 1px solid #375FEB;
  border-radius: 5px;
  padding: 24px 28px;
}
.biography .event .list-events .event2 .list-box .box:nth-child(1) {
  margin-top: -70px;
}
.biography .event .list-events .event2 .list-box .box:nth-child(2) {
  margin-bottom: -120px;
}
.biography .event .list-events .event2 .list-box .box:nth-child(3) {
  margin-top: -210px;
}
.biography .event .list-events .event2 .list-box .box .title-box {
  position: relative;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.biography .event .list-events .event2 .list-box .box .title-box h2 {
  color: #FFFFFF;
}
.biography .event .list-events .event2 .list-box .box .title-box span {
  position: relative;
  height: 44px;
  width: 110px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
}
.biography .event .list-events .event2 .list-box .box p {
  font-size: 14px;
  line-height: 21px;
  position: relative;
  color: #9FA1A7;
  margin-top: 16px;
}

.events {
  position: relative;
  height: 662px;
  width: 100%;
  background: radial-gradient(50% 36.13% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/keagan-henman2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.events .title {
  position: relative;
  height: 284px;
  width: 600px;
  margin-top: 230px;
  margin-left: 430px;
}
.events .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
  display: flex;
}
.events .title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.events .title h1 span:first-child {
  color: #375FEB;
}
.events .title h1 span:nth-child(2) {
  color: #FFFFFF;
  margin-left: 25px;
}
.events .title p {
  position: relative;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 20px;
}

.news {
  position: relative;
  height: 698px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/yannis-papanastasopoulos.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.news .slide-news {
  position: relative;
  width: 100%;
}
.news .slide-news__info {
  display: flex;
  flex-direction: column;
  padding-top: 177px;
}
.news .slide-news__info span {
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #3B94E7;
}
.news .slide-news__info span:first-child {
  position: relative;
  height: 26px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  background: #FC0E0E;
  border-radius: 5px;
  color: #FFFFFF;
}
.news .slide-news__info span:nth-child(2) {
  margin-top: 20px;
}
.news .slide-news__info h1 {
  color: #FFFFFF;
  margin-top: 8px;
}
.news .slide-news__info p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 32px;
}
.news .slide-news__info a {
  font-size: 20px;
  line-height: 30px;
  color: #3B94E7;
  text-decoration: none;
  margin-top: 24px;
}

footer {
  position: relative;
  height: 630px;
  width: 100%;
}
footer .subscribe {
  position: relative;
  height: 386px;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
  background: #13172B;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  footer .subscribe {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
}
footer .subscribe .title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 120px;
}
@media (max-width: 1000px) {
  footer .subscribe .title {
    margin-top: 45px;
  }
}
footer .subscribe .title h3 {
  color: #FFFFFF;
}
footer .subscribe .input-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
@media (max-width: 1000px) {
  footer .subscribe .input-sub {
    flex-direction: column;
  }
}
footer .subscribe .input-sub .input {
  position: relative;
  height: 70px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 47px;
  margin-top: 39px;
}
@media (max-width: 700px) {
  footer .subscribe .input-sub .input {
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  footer .subscribe .input-sub .input {
    width: 88%;
  }
}
footer .subscribe .input-sub .input input {
  position: relative;
  height: 26px;
  width: 370px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
}
footer .contact {
  position: relative;
  height: 244px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
footer .contact p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
}
footer .contact .sosmed {
  position: relative;
  height: 20px;
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
footer .contact span {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 67px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 10px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}

.slick-next {
  right: 10px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.album {
  position: relative;
  height: 835px;
  width: 100%;
  background: radial-gradient(40.28% 43.56% at 50.17% 48.54%, rgba(16, 19, 36, 0.69) 0%, rgba(16, 19, 36, 0.85) 52.08%, #101324 100%), url(../img/ben-pham.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 320px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .album {
    margin-top: 720px;
  }
}
.album .arrow {
  position: relative;
  height: 95px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .album .arrow {
    width: 100%;
  }
}
.album .arrow span {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.album .slide-album {
  position: absolute;
  height: 615px;
  width: 100%;
  left: 0;
  top: 280px;
  display: flex;
}
.album .slide-album .img-album {
  position: relative;
  height: 285px;
  width: 285px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}
.album .slide-album .img-album:nth-child(3) {
  position: relative;
  height: 300px;
  width: 300px;
  margin-top: -7.5px;
}
.album .slide-album .img-album img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.album .slide-album .img-album .about {
  position: relative;
  height: 280px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 285px;
  padding-top: 30px;
}
.album .slide-album .img-album .about h3 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.album .slide-album .img-album .about p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 12px;
}
.album .slide-album .img-album .about .list-btn {
  position: relative;
  height: 70px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
@media (max-width: 700px) {
  .album .slide-album .img-album .about .list-btn {
    margin-top: -35px;
    height: 200px;
    flex-direction: column;
  }
}

.title-big {
  position: relative;
  height: 190px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 95px;
}
@media (max-width: 1000px) {
  .title-big {
    width: 100%;
  }
}
.title-big h2 {
  color: #FFFFFF;
}
.title-big h2 span {
  position: absolute;
  height: 5px;
  width: 43px;
  bottom: -3px;
  border-radius: 4.5px;
  background: #375FEB;
}

.songs {
  position: relative;
  height: 1061px;
  width: 100%;
  background: #212433;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.songs .list-song {
  position: relative;
  height: 80%;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1000px) {
  .songs .list-song {
    width: 100%;
  }
}
.songs .list-song .song {
  position: relative;
  height: 118px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 21px;
  cursor: pointer;
  border-top: 0.5px solid rgba(255, 255, 255, 0.13);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.13);
  transition: 0.5s ease-out;
}
.songs .list-song .song:hover {
  background: #9B5DD5;
}
.songs .list-song .song .img-song {
  position: relative;
  height: 70px;
  width: 70px;
}
.songs .list-song .song .img-song img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.songs .list-song .song div {
  position: relative;
  color: #FFFFFF;
}
.songs .list-song .song div:nth-child(2) {
  margin-left: 35px;
  margin-right: 47px;
  width: 273px;
}
@media (max-width: 600px) {
  .songs .list-song .song div:nth-child(2) {
    display: none;
  }
}
.songs .list-song .song div:nth-child(3) {
  width: 287px;
}
@media (max-width: 1000px) {
  .songs .list-song .song div:nth-child(3) {
    width: 100px;
    margin-left: 20px;
  }
}
.songs .list-song .song div:nth-child(3) p {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}
.songs .list-song .song div:nth-child(4) {
  margin-left: 112px;
  margin-right: 30px;
  width: 65px;
}
.songs .list-song .song div:nth-child(4) p {
  font-size: 16px;
  line-height: 24px;
}
.songs .list-song .song .icon-play {
  position: relative;
  height: 39px;
  width: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #375FEB;
  padding-left: 3.5px;
  transition: 0.5s ease-out;
}
.songs .list-song .song:hover .icon-play {
  background: #101324;
}

.video {
  position: relative;
  height: 1382px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: #101324;
}
@media (max-width: 1000px) {
  .video {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }
}
.video .page-video {
  position: relative;
  height: 562px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(../img/keagan-henman.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 15px;
  margin-top: 73px;
  border-radius: 5px;
}
.video .page-video .icon-play {
  position: relative;
  height: 87px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #375FEB;
  padding-left: 7px;
  margin-top: 218px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.video .page-video .icon-play:hover {
  background: none;
  border: 5px solid #375FEB;
}
.video .page-video .fitur-video {
  position: relative;
  height: 41px;
  width: 100%;
  margin-top: 153px;
}
.video .page-video .fitur-video .durasi {
  position: relative;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.video .page-video .fitur-video .durasi span {
  position: absolute;
  height: 100%;
  width: 62px;
  top: 0;
  left: 0;
  background: #F21E1E;
}
.video .page-video .fitur-video .fitur {
  position: relative;
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 15px;
  margin-top: 19px;
}
.video .page-video .fitur-video .fitur .left {
  position: relative;
  height: 17px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video .page-video .fitur-video .fitur .left img {
  cursor: pointer;
}
.video .page-video .fitur-video .fitur .right {
  position: relative;
}
.video .page-video .fitur-video .fitur .right img {
  cursor: pointer;
}
.video .about-video {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.video .about-video h4 {
  color: #FFFFFF;
  margin-top: 31px;
}
.video .about-video h6 {
  color: #FFFFFF;
  margin-top: 25px;
}
.video .about-video p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 8px;
}
.video .about-video .list-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 29px;
}
@media (max-width: 1000px) {
  .video .about-video .list-video {
    flex-direction: column;
    margin-top: 15px;
  }
}
.video .about-video .list-video .videos {
  position: relative;
  width: 305px;
}
@media (max-width: 1000px) {
  .video .about-video .list-video .videos {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.video .about-video .list-video .videos .play {
  position: relative;
  height: 172px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.video .about-video .list-video .videos .play:hover .icon-play {
  background: none;
  border: 3px solid #375FEB;
}
.video .about-video .list-video .videos .play img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.video .about-video .list-video .videos .play .icon-play {
  position: relative;
  height: 49px;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #375FEB;
}
.video .about-video .list-video .videos .play .icon-play img {
  position: relative;
  height: 14.5px;
  width: 11px;
  margin-left: 4px;
}

.follow {
  position: relative;
  height: 927px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(49.35% 48.03% at 50% 51.97%, rgba(38, 79, 226, 0.49) 0%, rgba(38, 79, 226, 0.21) 23.44%, rgba(38, 79, 226, 0) 100%);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
@media (max-width: 1000px) {
  .follow {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}
.follow .about-follow {
  position: relative;
  height: 298px;
  width: 243px;
  padding-top: 10px;
}
@media (max-width: 1000px) {
  .follow .about-follow {
    padding-top: 40px;
    text-align: center;
  }
}
.follow .about-follow h2 {
  color: #FFFFFF;
}
.follow .about-follow p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 40px;
}
.follow .image-follow {
  position: relative;
  height: 440px;
  width: 670px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}
@media (max-width: 1000px) {
  .follow .image-follow {
    height: 100%;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    flex-direction: column;
  }
}
.follow .image-follow .image {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .follow .image-follow .image {
    flex-direction: row;
  }
}
.follow .image-follow .image:nth-child(2) {
  margin-top: -140px;
}
@media (max-width: 1000px) {
  .follow .image-follow .image:nth-child(2) {
    margin-top: 15px;
  }
}
.follow .image-follow .image:nth-child(3) {
  margin-top: -160px;
}
@media (max-width: 1000px) {
  .follow .image-follow .image:nth-child(3) {
    margin-top: 15px;
  }
}
.follow .image-follow .image .img {
  position: relative;
  height: 202px;
  width: 200px;
  border-radius: 5px;
  background: #101324;
  border: 8px solid #101324;
  box-shadow: 0px 69px 80px -30px rgba(0, 0, 0, 0.31);
}
.follow .image-follow .image .img:last-child {
  margin-top: 31px;
}
@media (max-width: 1000px) {
  .follow .image-follow .image .img:last-child {
    margin-top: 0px;
    margin-left: 10x;
  }
}
.follow .image-follow .image .img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.personnel {
  position: relative;
  height: 955px;
  width: 100%;
  background: url(../img/Timeline.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 147px 100px;
  margin-top: 885px;
}
.personnel .person {
  position: relative;
  height: 100%;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
  display: flex;
  flex-direction: column;
}
.personnel .person .biodata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 70px;
}
.personnel .person .biodata .people {
  position: relative;
  height: 305px;
  width: 170px;
  display: flex;
  flex-direction: column;
}
.personnel .person .biodata .people:nth-child(2) {
  margin-top: 115px;
}
.personnel .person .biodata .people:nth-child(4) {
  margin-top: 115px;
}
.personnel .person .biodata .people h5 {
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 21px;
}
.personnel .person .biodata .people p {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #9FA1A7;
}
.personnel .person .stories {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.personnel .person .stories h3 {
  color: #FFFFFF;
}
.personnel .person .stories p {
  position: relative;
  height: 73px;
  width: 750px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9FA1A7;
  margin-top: 16px;
}

.time-events {
  position: relative;
  height: 1066px;
  width: 100%;
  padding: 18px 147px;
}
.time-events__event {
  position: relative;
  height: 100%;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
  display: flex;
  flex-direction: column;
  padding: 54px 75px;
}
.time-events__event .time-start {
  position: relative;
  height: 170px;
  width: 720px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.time-events__event .time-start h3 {
  color: #FFFFFF;
}
.time-events__event .time-start .time-start-times {
  position: relative;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.time-events__event .time-start .time-start-times__time {
  position: relative;
  height: 100%;
  width: 180px;
  text-align: center;
}
.time-events__event .time-start .time-start-times__time span {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 60px;
  color: #FFFFFF;
}
.time-events__event .time-start .time-start-times__time p {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17.6px;
  color: #FFFFFF;
  margin-top: 16px;
}
.time-events__event .box-events {
  position: relative;
  height: 657px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(20, 24, 44, 0.75);
  box-shadow: 0px 50px 200px -20px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  margin-top: 96px;
}
.time-events__event .box-events__detail-event {
  position: relative;
  height: 100%;
  width: 420px;
  padding-left: 71px;
  padding-right: 79px;
  background: linear-gradient(180deg, rgba(16, 19, 36, 0.43) 0%, #101324 100%), url(../img/alexander-popov.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
}
.time-events__event .box-events__detail-event span {
  position: relative;
  height: 29px;
  width: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #F74141;
  border-radius: 4px;
  margin-top: 132px;
}
.time-events__event .box-events__detail-event h3 {
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 20px;
}
.time-events__event .box-events__detail-event p {
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin-top: 7px;
}
.time-events__event .box-events__detail-event p:last-child {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  text-transform: none;
  margin-top: 40px;
}
.time-events__event .box-events__booking-event {
  position: relative;
  height: 100%;
  width: 590px;
  padding-left: 50px;
  padding-right: 95px;
  padding-top: 60px;
  padding-bottom: 67px;
}
.time-events__event .box-events__booking-event h4 {
  color: #FFFFFF;
  text-transform: capitalize;
}
.time-events__event .box-events__booking-event p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
}
.time-events__event .box-events__booking-event .form {
  position: relative;
  width: 100%;
  margin-top: 42px;
}
.time-events__event .box-events__booking-event .form__input {
  position: relative;
  height: 43px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.time-events__event .box-events__booking-event .form__input label {
  position: relative;
  height: 100%;
  width: 20%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.time-events__event .box-events__booking-event .form__input p {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-left: 16px;
}
.time-events__event .box-events__booking-event .form__input--text {
  position: relative;
  height: 100%;
  width: 80%;
  background: #101324;
  border-radius: 4px;
  color: #FFFFFF;
  outline: none;
  border: 1px solid #404250;
  padding-left: 10px;
}
.time-events__event .box-events__booking-event .form__input--text:focus {
  border: 1px solid #3B94E7;
}
.time-events__event .box-events__booking-event .form__input--text_width {
  position: relative;
  height: 100%;
  width: 25%;
  background: #101324;
  color: #FFFFFF;
  outline: none;
  border-radius: 4px;
  border: 1px solid #404250;
  padding-left: 10px;
  margin-right: 12px;
}
.time-events__event .box-events__booking-event .form__input--text_width:focus {
  border: 1px solid #3B94E7;
}
.time-events__event .box-events__booking-event .form__input--text_width:last-child {
  margin-right: 0;
}
.time-events__event .box-events__booking-event .form__input--radio {
  position: relative;
  height: 24px;
  width: 24px;
  margin-left: 17px;
}
.time-events__event .box-events__booking-event .form__input--radio:nth-child(2) {
  margin-left: 0;
}
.time-events__event .box-events__booking-event .form__submit {
  position: relative;
  height: 49px;
  width: 305px;
  background: #375FEB;
  border-radius: 23.5px;
  border: none;
  margin-left: 105px;
  margin-top: 23px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.time-events__event .box-events__booking-event .form__submit:hover {
  opacity: 0.7;
}
.time-events__event .highlight {
  position: relative;
  width: 100%;
  padding: 48px 64px;
  border: 1px solid #212433;
  border-radius: 3px;
  margin-top: 56px;
}
.time-events__event .highlight h5 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.time-events__event .highlight p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 29px;
}

.featured {
  position: relative;
  height: 789px;
  width: 100%;
  margin-top: 780px;
}
.featured__list {
  position: relative;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
}
.featured__singer {
  position: relative;
  height: 579px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 63px 222px;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0) 0%, rgba(16, 19, 36, 0.28) 32.81%, rgba(16, 19, 36, 0.87) 100%), url(../img/keagan-henman2.jpg);
  background-position: center;
  background-size: cover;
}
.featured__singer .image {
  position: relative;
  height: 227px;
  width: 210px;
  margin-top: 0;
  cursor: pointer;
  transition: 0.5s;
}
.featured__singer .image:hover {
  transform: scale(1.1);
  z-index: 99;
  border: 2px solid #375FEB;
}
.featured__singer .image img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.featured__singer .image__name {
  position: relative;
  width: 163px;
  z-index: 2;
  margin-top: 160px;
  margin-left: 19px;
}
.featured__singer .image__name h5 {
  color: #FFFFFF;
  text-transform: capitalize;
}
.featured__singer .image__name p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: capitalize;
}

.other-event {
  position: relative;
  height: 760px;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
}
.other-event__title {
  position: relative;
  height: 212px;
  width: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.other-event__title h3 {
  color: #FFFFFF;
  text-align: center;
}
.other-event__title p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 16px;
}
.other-event__event {
  position: relative;
  height: 568px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.other-event__event h6 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-top: 9px;
}
.other-event__event .list-events {
  position: relative;
  height: 290px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 31px;
}
.other-event__event .list-events__list {
  position: relative;
  height: 290px;
  width: 235px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.other-event__event .list-events__list:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 10px #375FEB;
}
.other-event__event .list-events__list img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  opacity: 0.4;
}
.other-event__event .list-events__list--name {
  position: relative;
  width: 180px;
  z-index: 10;
  margin-top: 187px;
  margin-left: 28px;
  text-align: center;
}
.other-event__event .list-events__list--name p {
  font-size: 14px;
  line-height: 21px;
  color: #15A8FB;
  text-transform: capitalize;
}
.other-event__event .list-events__list--name h5 {
  color: #FFFFFF;
  text-transform: capitalize;
}
.other-event__event .list-events__btn {
  position: relative;
  height: 74px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.gallery {
  position: relative;
  height: 700px;
  width: 100%;
}
.gallery__title {
  position: relative;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
}
.gallery__deskripsi {
  position: relative;
  height: 190px;
  width: 100%;
  padding-left: 290px;
  padding-right: 290px;
  padding-top: 56px;
}
.gallery__deskripsi h3 {
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
}
.gallery__deskripsi p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 16px;
}
.gallery__images {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.gallery__images--img {
  position: relative;
  height: 220px;
  width: 245px;
  background: #375FEB;
  cursor: pointer;
}
.gallery__images--img img {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-out;
}
.gallery__images--img:hover img {
  opacity: 0.7;
  border: 1px solid #375FEB;
}
.gallery__images--img div {
  position: relative;
  height: 30px;
  width: 100%;
  margin-top: 180px;
  z-index: -2;
  color: #FFFFFF;
  text-align: center;
  text-transform: capitalize;
}
.gallery__images--img:hover div {
  z-index: 10;
}

.latest-news {
  position: relative;
  height: 2100px;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
}
.latest-news__box {
  position: relative;
  height: 319px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  background: #13172B;
  box-shadow: 0px 157px 201px -110px rgba(0, 0, 0, 0.31);
  overflow: hidden;
  margin-top: 72px;
}
.latest-news__box--new {
  position: relative;
  height: 100%;
  width: 50%;
}
.latest-news__box--new:last-child {
  padding-left: 46px;
  padding-right: 80px;
  padding-top: 47px;
}
.latest-news__box--new img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.latest-news__box--new h5 {
  color: #FFFFFF;
}
.latest-news__box--new p {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 22px;
  margin-bottom: 21px;
}
.latest-news__box--new a {
  font-size: 16px;
  line-height: 24px;
  color: #5486E8;
  text-decoration: none;
}
.latest-news__cards {
  position: relative;
  height: 355px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.latest-news__cards .card {
  position: relative;
  height: 100%;
  width: 235px;
  padding-left: 16px;
  padding-right: 16px;
  background: #13172B;
  box-shadow: 0px 69px 80px -30px rgba(0, 0, 0, 0.31);
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.latest-news__cards .card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 10px #375FEB;
}
.latest-news__cards .card img {
  position: absolute;
  height: 206px;
  width: 100%;
  top: 0;
  left: 0;
}
.latest-news__cards .card h6 {
  color: #FFFFFF;
  margin-top: 230px;
  margin-bottom: 25px;
}
.latest-news__cards .card a {
  font-size: 16px;
  line-height: 24px;
  color: #5486E8;
  text-decoration: none;
}
.latest-news__populer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.latest-news__populer--title {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.latest-news__populer--title h6 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.latest-news__populer--info {
  position: relative;
  height: 248px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.latest-news__populer--info__img {
  position: relative;
  height: 172px;
  width: 235px;
  margin-top: auto;
  margin-bottom: auto;
}
.latest-news__populer--info__img img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
.latest-news__populer--info__detail {
  position: relative;
  height: 172px;
  width: 74%;
  margin-top: auto;
  margin-bottom: auto;
}
.latest-news__populer--info__detail h6 {
  color: #FFFFFF;
  margin-top: 21px;
}
.latest-news__populer--info__detail p {
  font-size: 14px;
  line-height: 21px;
  margin-top: 21px;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.latest-news__populer--info__detail a {
  font-size: 16px;
  line-height: 24px;
  color: #5486E8;
  text-decoration: none;
}
.latest-news__populer--btn {
  margin-left: auto;
  margin-right: auto;
}

.contac {
  position: relative;
  height: 586px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/Maps.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contac__title {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contac__title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
  display: flex;
}
.contac__title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.contac__title h1 span:first-child {
  color: #375FEB;
}
.contac__title h1 span:last-child {
  margin-left: 20px;
}
.contac__title p {
  position: relative;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 20px;
}
.contac__form {
  position: relative;
  height: 509px;
  width: 858px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -100px;
  background: #13172B;
  box-shadow: 0px 130px 70px -90px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 5px;
  overflow: hidden;
}
.contac__form form {
  position: relative;
  height: 100%;
  width: 546px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 65px;
}
.contac__form form input {
  position: relative;
  height: 43px;
  width: 100%;
  background: #101324;
  border: 1px solid #404250;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  color: #FFFFFF;
}
.contac__form form input:focus {
  border: 1px solid #375FEB;
}
.contac__form form .input {
  position: relative;
  height: 43px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.contac__form form .input input {
  position: relative;
  height: 100%;
  width: 48%;
  border: 1px solid #404250;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  color: #FFFFFF;
}
.contac__form form .input input:focus {
  border: 1px solid #375FEB;
}
.contac__form form textarea {
  position: relative;
  height: 174px;
  width: 100%;
  margin-top: 12px;
  background: #101324;
  border: 1px solid #404250;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  outline: none;
  color: #FFFFFF;
}
.contac__form form textarea:focus {
  border: 1px solid #375FEB;
}
.contac__form form .submit {
  margin-left: auto;
  margin-right: auto;
}
.contac__form aside {
  position: relative;
  height: 100%;
  width: 312px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 65px;
  background: rgba(255, 255, 255, 0.02);
}
.contac__form aside .detail {
  position: relative;
  height: 64px;
  width: 100%;
  margin-top: 60px;
}
.contac__form aside .detail:first-child {
  margin-top: 0;
}
.contac__form aside .detail h6 {
  color: #FFFFFF;
  text-transform: capitalize;
}
.contac__form aside .detail p {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 16px;
}
.contac__form aside .detail img {
  margin-left: 15px;
}
.contac__form aside .detail img:nth-child(3) {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */