* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #101324;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 55px;
}

h2 {
  font-size: 43px;
  line-height: 47.3px;
}

h3 {
  font-size: 36px;
  line-height: 39.6px;
}

h4 {
  font-size: 30px;
  line-height: 33px;
}

h5 {
  font-size: 25px;
  line-height: 27.5px;
}

h6 {
  font-size: 22px;
  line-height: 24.2px;
}

.p-x {
  padding-left: 222px;
  padding-right: 222px;
}

.p-y {
  padding-top: 60px;
  padding-bottom: 60px;
}

.m-y {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-x {
  margin-left: 222px;
  margin-right: 222px;
}

.p-x-75 {
  padding-left: 75px;
  padding-right: 75px;
}

.m-l-27 {
  margin-left: 27px;
}

.m-t-55 {
  margin-top: 55px;
}

.mt-22 {
  margin-top: -22px;
}

.ml-142 {
  margin-left: -142px;
}

.ml-115 {
  margin-left: -115px;
}

.btn-bg {
  position: relative;
  height: 70px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 21.6px;
  background: #375FEB;
  border: none;
  border-radius: 40px;
  color: #FFFFFF;
  margin-top: 38px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.btn-bg:hover {
  opacity: 0.5;
}

.btn {
  position: relative;
  height: 70px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 21.6px;
  background: none;
  border: 2px solid #375FEB;
  border-radius: 40px;
  color: #FFFFFF;
  margin-top: 38px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.btn:hover {
  background: #375FEB;
}

.home {
  position: relative;
  height: 809px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/sam-moghadam.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .title {
  position: relative;
  height: 284px;
  width: 190px;
  margin-top: 140px;
  margin-left: 641px;
}
.home .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
}
.home .title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.home .title h1 span:first-child {
  color: #375FEB;
}
.home .title h1 span:nth-child(3) {
  color: #375FEB;
}
.home .title p {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 15px;
}
.home .event {
  position: relative;
  height: 507px;
  width: 100%;
}
.home .event .list-event {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: -120px;
  background: #14182C;
}
.home .event .list-event span {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.home .event .list-event .sub-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .event .list-event .sub-event .img-event {
  position: relative;
  height: 379px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/spencer-davis.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}
.home .event .list-event .sub-event .img-event h3 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.home .event .list-event .sub-event .about-event {
  position: relative;
  height: 379px;
  width: 490px;
  margin-left: 90px;
}
.home .event .list-event .sub-event .about-event p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 28px;
}
.home .event .list-event .sub-event .about-event p:first-child {
  margin-top: 0px;
  color: #3B94E7;
}
.home .event .list-event .sub-event .about-event h2 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-top: 12px;
}
.home .event .list-event .sub-event .about-event h6 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-top: 12px;
}

nav {
  position: relative;
  height: 87px;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: top;
}
nav .sosmed {
  position: relative;
  height: 87px;
  width: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: -222px;
}
nav .sosmed a {
  position: relative;
  height: 21px;
  width: 18px;
}
nav .sosmed a:nth-child(2) {
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 24px;
}
nav .sosmed a:nth-child(3) {
  position: relative;
  height: 15px;
  width: 20px;
  margin-left: 24px;
}
nav .sosmed a img {
  position: absolute;
  height: 100%;
  width: 100%;
}
nav .links {
  position: relative;
  height: 87px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links a {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17.6px;
  text-decoration: none;
  color: #9FA1A7;
  display: flex;
  flex-wrap: wrap;
}
nav .links a:first-child span {
  margin-left: 24px;
}
nav .links a:nth-child(2) span {
  margin-left: 9.5px;
}
nav .links a:nth-child(3) span {
  margin-left: 36.5px;
}
nav .links a:nth-child(5) span {
  margin-left: 16px;
}
nav .links a:hover span {
  opacity: 1;
}
nav .links a div {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
}
nav .links a div:first-child {
  color: #375FEB;
}
nav .links a span {
  position: absolute;
  height: 5px;
  width: 43px;
  bottom: 0;
  border-radius: 4.5px;
  background: #375FEB;
  opacity: 0;
  transition: 0.5s ease-out;
}
nav .login {
  position: relative;
  height: 87px;
  width: 222px;
  margin-right: -222px;
}
nav .login a {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21.6px;
  text-decoration: none;
  color: #FFFFFF;
  background: #375FEB;
  font-weight: bold;
}

.biography {
  position: relative;
  height: 809px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/band_all.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.biography .title {
  position: relative;
  height: 284px;
  width: 600px;
  margin-top: 260px;
  margin-left: 480px;
}
.biography .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
  display: flex;
}
.biography .title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.biography .title h1 span:first-child {
  color: #375FEB;
}
.biography .title h1 span:nth-child(3) {
  color: #375FEB;
}
.biography .title p {
  position: relative;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 20px;
}
.biography .event {
  position: relative;
  height: 910px;
  width: 100%;
}
.biography .event .list-event {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  top: 35px;
  background: linear-gradient(180deg, rgba(38, 79, 226, 0.2) 0%, rgba(38, 79, 226, 0) 100%);
}
.biography .event .list-event .events {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.biography .event .list-event .events .sub-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
}
.biography .event .list-event .events .sub-event .img-event {
  position: relative;
  height: 469px;
  width: 50%;
  background: url(../img/band_all.png);
  padding-top: 144px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
.biography .event .list-event .events .sub-event .img-event span {
  font-size: 72px;
  text-transform: uppercase;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 436px;
}
.biography .event .list-event .events .sub-event .img-event span:first-child {
  color: #375FEB;
}
.biography .event .list-event .events .sub-event .img-event span:nth-child(3) {
  color: #375FEB;
}
.biography .event .list-event .events .sub-event .about-event {
  position: relative;
  height: 469px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biography .event .list-event .events .sub-event .about-event .text {
  position: relative;
  height: 300px;
  width: 300px;
}
.biography .event .list-event .events .sub-event .about-event .text h2 {
  text-transform: capitalize;
  font-weight: bold;
  color: #FFFFFF;
}
.biography .event .list-event .events .sub-event .about-event .text p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 33px;
}
.biography .event .list-event .events .list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 130px;
}
.biography .event .list-event .events .list-box .box {
  position: relative;
  height: 218px;
  width: 228px;
  border: 1px solid #375FEB;
  border-radius: 5px;
  padding: 24px 28px;
}
.biography .event .list-event .events .list-box .box:nth-child(1) {
  margin-top: -70px;
}
.biography .event .list-event .events .list-box .box:nth-child(2) {
  margin-bottom: -120px;
}
.biography .event .list-event .events .list-box .box:nth-child(3) {
  margin-top: -210px;
}
.biography .event .list-event .events .list-box .box .title-box {
  position: relative;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.biography .event .list-event .events .list-box .box .title-box h2 {
  color: #FFFFFF;
}
.biography .event .list-event .events .list-box .box .title-box span {
  position: relative;
  height: 44px;
  width: 110px;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
}
.biography .event .list-event .events .list-box .box p {
  font-size: 14px;
  line-height: 21px;
  position: relative;
  color: #9FA1A7;
  margin-top: 16px;
}

.events {
  position: relative;
  height: 662px;
  width: 100%;
  background: radial-gradient(50% 36.13% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/keagan-henman2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.events .title {
  position: relative;
  height: 284px;
  width: 600px;
  margin-top: 230px;
  margin-left: 430px;
}
.events .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
  display: flex;
}
.events .title h1 span {
  color: #FFFFFF;
  margin: 0;
}
.events .title h1 span:first-child {
  color: #375FEB;
}
.events .title h1 span:nth-child(2) {
  color: #FFFFFF;
  margin-left: 25px;
}
.events .title p {
  position: relative;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 20px;
}

footer {
  position: relative;
  height: 630px;
  width: 100%;
}
footer .subscribe {
  position: relative;
  height: 386px;
  width: 100%;
  padding-left: 222px;
  padding-right: 222px;
  background: #13172B;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .subscribe .title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 120px;
}
footer .subscribe .title h3 {
  color: #FFFFFF;
}
footer .subscribe .input-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
footer .subscribe .input-sub .input {
  position: relative;
  height: 70px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 47px;
  margin-top: 39px;
}
footer .subscribe .input-sub .input input {
  position: relative;
  height: 26px;
  width: 370px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
  background: none;
  color: #FFFFFF;
}
footer .contact {
  position: relative;
  height: 244px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
footer .contact p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
}
footer .contact .sosmed {
  position: relative;
  height: 20px;
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
footer .contact span {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 67px;
}

.album {
  position: relative;
  height: 835px;
  width: 100%;
  background: radial-gradient(40.28% 43.56% at 50.17% 48.54%, rgba(16, 19, 36, 0.69) 0%, rgba(16, 19, 36, 0.85) 52.08%, #101324 100%), url(../img/ben-pham.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 320px;
  display: flex;
  flex-direction: column;
}
.album .arrow {
  position: relative;
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.album .arrow span {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.album .slide-album {
  position: absolute;
  height: 415px;
  width: 100%;
  left: 0;
  top: 280px;
  display: flex;
}
.album .slide-album .img-album {
  position: relative;
  height: 285px;
  width: 285px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}
.album .slide-album .img-album:nth-child(3) {
  position: relative;
  height: 300px;
  width: 300px;
  margin-top: -7.5px;
}
.album .slide-album .img-album img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.album .slide-album .img-album .about {
  position: relative;
  height: 280px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 285px;
  padding-top: 30px;
}
.album .slide-album .img-album .about h3 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.album .slide-album .img-album .about p {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 12px;
}
.album .slide-album .img-album .about .list-btn {
  position: relative;
  height: 70px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.title-big {
  position: relative;
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 95px;
}
.title-big h2 {
  color: #FFFFFF;
}
.title-big h2 span {
  position: absolute;
  height: 5px;
  width: 43px;
  bottom: -3px;
  border-radius: 4.5px;
  background: #375FEB;
}

.songs {
  position: relative;
  height: 1061px;
  width: 100%;
  background: #212433;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.songs .list-song {
  position: relative;
  height: 80%;
  width: 100%;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.songs .list-song .song {
  position: relative;
  height: 118px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 21px;
  cursor: pointer;
  border-top: 0.5px solid rgba(255, 255, 255, 0.13);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.13);
  transition: 0.5s ease-out;
}
.songs .list-song .song:hover {
  background: #9B5DD5;
}
.songs .list-song .song .img-song {
  position: relative;
  height: 70px;
  width: 70px;
}
.songs .list-song .song .img-song img {
  position: absolute;
  height: 100%;
  width: 100%;
}
.songs .list-song .song div {
  position: relative;
  color: #FFFFFF;
}
.songs .list-song .song div:nth-child(2) {
  margin-left: 35px;
  margin-right: 47px;
  width: 273px;
}
.songs .list-song .song div:nth-child(3) {
  width: 287px;
}
.songs .list-song .song div:nth-child(3) p {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}
.songs .list-song .song div:nth-child(4) {
  margin-left: 112px;
  margin-right: 30px;
  width: 65px;
}
.songs .list-song .song div:nth-child(4) p {
  font-size: 16px;
  line-height: 24px;
}
.songs .list-song .song .icon-play {
  position: relative;
  height: 39px;
  width: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #375FEB;
  padding-left: 3.5px;
  transition: 0.5s ease-out;
}
.songs .list-song .song:hover .icon-play {
  background: #101324;
}

.video {
  position: relative;
  height: 1382px;
  width: 100%;
  background: #101324;
}
.video .page-video {
  position: relative;
  height: 562px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(../img/keagan-henman.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 15px;
  margin-top: 73px;
  border-radius: 5px;
}
.video .page-video .icon-play {
  position: relative;
  height: 87px;
  width: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #375FEB;
  padding-left: 7px;
  margin-top: 218px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.video .page-video .icon-play:hover {
  background: none;
  border: 5px solid #375FEB;
}
.video .page-video .fitur-video {
  position: relative;
  height: 41px;
  width: 100%;
  margin-top: 153px;
}
.video .page-video .fitur-video .durasi {
  position: relative;
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.video .page-video .fitur-video .durasi span {
  position: absolute;
  height: 100%;
  width: 62px;
  top: 0;
  left: 0;
  background: #F21E1E;
}
.video .page-video .fitur-video .fitur {
  position: relative;
  height: 37px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 15px;
  margin-top: 19px;
}
.video .page-video .fitur-video .fitur .left {
  position: relative;
  height: 17px;
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video .page-video .fitur-video .fitur .left img {
  cursor: pointer;
}
.video .page-video .fitur-video .fitur .right {
  position: relative;
}
.video .page-video .fitur-video .fitur .right img {
  cursor: pointer;
}
.video .about-video {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.video .about-video h4 {
  color: #FFFFFF;
  margin-top: 31px;
}
.video .about-video h6 {
  color: #FFFFFF;
  margin-top: 25px;
}
.video .about-video p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 8px;
}
.video .about-video .list-video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 29px;
}
.video .about-video .list-video .videos {
  position: relative;
  width: 305px;
}
.video .about-video .list-video .videos .play {
  position: relative;
  height: 172px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.video .about-video .list-video .videos .play:hover .icon-play {
  background: none;
  border: 3px solid #375FEB;
}
.video .about-video .list-video .videos .play img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.video .about-video .list-video .videos .play .icon-play {
  position: relative;
  height: 49px;
  width: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #375FEB;
}
.video .about-video .list-video .videos .play .icon-play img {
  position: relative;
  height: 14.5px;
  width: 11px;
  margin-left: 4px;
}

.follow {
  position: relative;
  height: 927px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(49.35% 48.03% at 50% 51.97%, rgba(38, 79, 226, 0.49) 0%, rgba(38, 79, 226, 0.21) 23.44%, rgba(38, 79, 226, 0) 100%);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}
.follow .about-follow {
  position: relative;
  height: 298px;
  width: 243px;
  padding-top: 10px;
}
.follow .about-follow h2 {
  color: #FFFFFF;
}
.follow .about-follow p {
  font-size: 16px;
  line-height: 24px;
  color: #9FA1A7;
  margin-top: 40px;
}
.follow .image-follow {
  position: relative;
  height: 440px;
  width: 670px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}
.follow .image-follow .image {
  display: flex;
  flex-direction: column;
}
.follow .image-follow .image:nth-child(2) {
  margin-top: -140px;
}
.follow .image-follow .image:nth-child(3) {
  margin-top: -160px;
}
.follow .image-follow .image .img {
  position: relative;
  height: 202px;
  width: 200px;
  border-radius: 5px;
  background: #101324;
  border: 8px solid #101324;
  box-shadow: 0px 69px 80px -30px rgba(0, 0, 0, 0.31);
}
.follow .image-follow .image .img:last-child {
  margin-top: 31px;
}
.follow .image-follow .image .img img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.personnel {
  position: relative;
  height: 955px;
  width: 100%;
  background: url(../img/Timeline.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px 147px 100px;
  margin-top: 885px;
}
.personnel .person {
  position: relative;
  height: 100%;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
  display: flex;
  flex-direction: column;
}
.personnel .person .biodata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 70px;
}
.personnel .person .biodata .people {
  position: relative;
  height: 305px;
  width: 170px;
  display: flex;
  flex-direction: column;
}
.personnel .person .biodata .people:nth-child(2) {
  margin-top: 115px;
}
.personnel .person .biodata .people:nth-child(4) {
  margin-top: 115px;
}
.personnel .person .biodata .people h5 {
  text-transform: capitalize;
  color: #FFFFFF;
  margin-top: 21px;
}
.personnel .person .biodata .people p {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #9FA1A7;
}
.personnel .person .stories {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.personnel .person .stories h3 {
  color: #FFFFFF;
}
.personnel .person .stories p {
  position: relative;
  height: 73px;
  width: 750px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9FA1A7;
  margin-top: 16px;
}/*# sourceMappingURL=style.css.map */