* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #101324;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 55px;
}

h2 {
  font-size: 43px;
  line-height: 47.3px;
}

h3 {
  font-size: 36px;
  line-height: 39.6px;
}

h4 {
  font-size: 30px;
  line-height: 33px;
}

h5 {
  font-size: 25px;
  line-height: 27.5px;
}

h6 {
  font-size: 22px;
  line-height: 24.2px;
}

.p-x {
  padding-left: 222px;
  padding-right: 222px;
}

.p-y {
  padding-top: 60px;
  padding-bottom: 60px;
}

.m-y {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container-content-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home {
  position: relative;
  height: 809px;
  width: 100%;
  background: radial-gradient(44.9% 44.26% at 50% 49.94%, rgba(16, 19, 36, 0.3) 0%, rgba(16, 19, 36, 0.6) 32.81%, rgba(16, 19, 36, 0.95) 100%), url(../img/sam-moghadam.jpg);
  background-size: cover;
  background-position: center;
}

.home nav {
  position: relative;
  height: 87px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: top;
}

.home nav .sosmed {
  position: relative;
  height: 87px;
  width: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.home nav .sosmed a {
  position: relative;
  height: 21px;
  width: 18px;
}

.home nav .sosmed a:nth-child(2) {
  position: relative;
  height: 20px;
  width: 20px;
  margin-left: 24px;
}

.home nav .sosmed a:nth-child(3) {
  position: relative;
  height: 15px;
  width: 20px;
  margin-left: 24px;
}

.home nav .sosmed a img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.home nav .links {
  position: relative;
  height: 87px;
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home nav .links a {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 17.6px;
  text-decoration: none;
  color: #9FA1A7;
}

.home nav .links a span {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
}

.home nav .links a span:first-child {
  color: #375FEB;
}

.home nav .login {
  position: relative;
  height: 87px;
  width: 222px;
}

.home nav .login a {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21.6px;
  text-decoration: none;
  color: #FFFFFF;
  background: #375FEB;
  font-weight: bold;
}

.home .title {
  position: relative;
  height: 284px;
  width: 180px;
  margin-top: 140px;
  margin-left: 641px;
}

.home .title h1 {
  font-size: 94px;
  text-transform: uppercase;
  line-height: 70.4px;
}

.home .title h1 span {
  color: #FFFFFF;
  margin: 0;
}

.home .title h1 span:first-child {
  color: #375FEB;
}

.home .title h1 span:nth-child(3) {
  color: #375FEB;
}

.home .title p {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 15px;
}

.home .event {
  position: relative;
  height: 507px;
  width: 68%;
  margin-left: 222px;
  margin-right: 222px;
  bottom: -120px;
  background: #14182C;
}
/*# sourceMappingURL=style.css.map */