@mixin padding-y($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin padding-x($right, $left) {
    padding-left: $left;
    padding-right: $right;
}

@mixin margin-y($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin margin-x($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin flex($content) {
    display: flex;
    justify-content: $content;
    align-items: center;
}

@mixin absolute($width, $height) {
    position: absolute;
    height: $height;
    width: $width;
}

@mixin relative($width, $height) {
    position: relative;
    height: $height;
    width: $width;
}

@mixin btn($background, $border) {
    @include relative(210px, 70px);
    @include flex(center);
    @include Small-title(capitalize);
    background: $background;
    border: $border;
    border-radius: 40px;
    color: $color-5;
    margin-top: 38px;
    cursor: pointer;
}

.p-x {
    @include padding-x(222px, 222px);
}

.p-y {
    @include padding-y(60px, 60px);
}

.m-y {
    @include margin-y(50px, 50px);
}

.m-x{
    @include margin-x(222px, 222px);
}

.m-l-27{
    margin-left: 27px;
}

.m-t-55{
    margin-top: 55px;
}

.btn-bg{
    @include btn($primary, none);
    transition: .5s ease-out;
    &:hover{
        opacity: .5;
    }
}

.btn{
    @include btn(none, 2px solid $primary);
    transition: .5s ease-out;
    &:hover{
        background: $primary;
    }
}