.other-event{
    @include relative(100%, 760px);
    @include padding-x(222px, 222px);
    &__title{
        @include relative(100%, 212px);
        @include padding-x(150px, 150px);
        padding-top: 56px;
        border-bottom: 1px solid rgba($color-5, 0.13);
        h3{
            color: $color-5;
            text-align: center;
        }
        p{
            @include p-4();
            color: rgba($color-5, 0.5);
            text-align: center;
            margin-top: 16px;
        }
    }
    &__event{
        @include relative(100%, 568px);
        display: flex;
        flex-direction: column;
        h6{
            color: $color-5;
            text-transform: capitalize;
            margin-top: 9px;
        }
        .list-events{
            @include relative(100%, 290px);
            @include flex(space-between);
            margin-top: 31px;
            &__list{
                @include relative(235px, 290px);
                cursor: pointer;
                transition: .5s ease-out;
                &:hover{
                    transform: translateY(-20px);
                    box-shadow: 0px 10px 10px $primary;
                }
                img{
                    @include absolute(100%, 100%);
                    border-radius: 3px;
                    opacity: .4;
                }
                &--name{
                    position: relative;
                    width: 180px;
                    z-index: 10;
                    margin-top: 187px;
                    margin-left: 28px;
                    text-align: center;
                    p{
                        @include p-5();
                        color: $secondary-3;
                        text-transform: capitalize;
                    }
                    h5{
                        color: $color-5;
                        text-transform: capitalize;
                    }
                }
            }
            &__btn{
                @include relative(100%, 74px);
                @include flex(center);
                margin-top: 30px;
            }
        }
    }
}