.personnel{
    @include relative(100%, 945px);
    background: url(../img/Timeline.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 16px 147px 128px;
    margin-top: 885px;
    .person{
        @include relative(100%, 100%);
        background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
    }
}