// Events
.time-events {
    @include relative(100%, 1066px);
    padding: 18px 147px;

    &__event {
        @include relative(100%, 100%);
        background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
        display: flex;
        flex-direction: column;
        padding: 54px 75px;
        .time-start{
            @include relative(720px, 170px);
            @include margin-x(150px, 150px);
            display: flex;
            flex-direction: column;
            text-align: center;
            h3{
                color: $color-5;
            }
            .time-start-times{
                @include relative(100%, 90px);
                @include flex(space-between);
                margin-top: 40px;
                &__time{
                    @include relative(180px, 100%);
                    text-align: center;
                    span{
                        @include Large(uppercase);
                        color: $color-5;
                    }
                    p{
                        @include Small-Upper(uppercase);
                        color: $color-5;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}