// Events
.time-events {
    @include relative(100%, 1066px);
    padding: 18px 147px;

    &__event {
        @include relative(100%, 100%);
        background: radial-gradient(50% 50% at 50% 50%, rgba(38, 79, 226, 0.3) 0%, rgba(38, 79, 226, 0.2) 30.21%, rgba(38, 79, 226, 0) 100%);
        display: flex;
        flex-direction: column;
        padding: 54px 75px;
        .time-start{
            @include relative(720px, 170px);
            @include margin-x(150px, 150px);
            display: flex;
            flex-direction: column;
            text-align: center;
            h3{
                color: $color-5;
            }
            .time-start-times{
                @include relative(100%, 90px);
                @include flex(space-between);
                margin-top: 40px;
                &__time{
                    @include relative(180px, 100%);
                    text-align: center;
                    span{
                        @include Large(uppercase);
                        color: $color-5;
                    }
                    p{
                        @include Small-Upper(uppercase);
                        color: $color-5;
                        margin-top: 16px;
                    }
                }
            }
        }
        .box-events{
            @include relative(997px, 657px);
            @include flex(space-between);
            background: rgba(20, 24, 44, 0.75);
            box-shadow: 0px 50px 200px -20px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(20px);
            border-radius: 20px;
            margin-top: 96px;
            overflow: hidden;
            &__detail-event{
                @include relative(420px, 100%);
                @include padding-x(79px, 71px);
                background: linear-gradient(180deg, rgba(16, 19, 36, 0.43) 0%, #101324 100%), url(../img/alexander-popov.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                span{
                    @include relative(146px, 29px);
                    @include flex(center);
                    @include p-5();
                    text-transform: capitalize;
                    color: $color-5;
                    background: #F74141;
                    border-radius: 4px;
                    margin-top: 132px;
                }
                h3{
                    text-transform: capitalize;
                    color: $color-5;
                    margin-top: 20px
                }
                p{
                    @include p-3();
                    color: $color-5;
                    text-transform: capitalize;
                    margin-top: 7px;
                    &:last-child{
                        @include p-4();
                        color: #9FA1A7;
                        text-transform: none;
                        margin-top: 40px;
                    }
                }
            }
            &__booking-event{
                @include relative(590px, 100%);
                @include padding-x(87px, 80px);
                padding-top: 60px;
                h4{
                    color: $color-5;
                    text-transform: capitalize;
                }
                p{
                    @include p-4();
                    color: rgba($color-5, 0.5);
                    margin-top: 5px;
                }
                .form{
                    position: relative;
                    width: 100%;
                    margin-top: 44px;
                    
                    &__input{
                        @include relative(100%, 43px);
                        display: flex;
                        align-items: center;
                        margin-top: 22px;
                        label{
                            @include relative(20%, 100%);
                            @include p-4();
                            display: flex;
                            align-items: center;
                            text-transform: capitalize;
                            color: $color-5;
                        }
                        &--text{
                            @include relative(80%, 100%);
                            background: $color-1;
                            border-radius: 4px;
                            color: $color-5;
                            outline: none;
                            border: 1px solid $color-4;
                            padding-left: 10px;
                            &:focus{
                                border: 1px solid $state-1;
                            }
                        }
                        &--text_width{
                            @include relative(25%, 100%);
                            background: $color-1;
                            color: $color-5;
                            outline: none;
                            border-radius: 4px;
                            border: 1px solid $color-4;
                            padding-left: 10px;
                            margin-right: 12px;
                            &:focus{
                                border: 1px solid $state-1;
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                        &--radio{
                            @include relative(24px, 24px);
                            background: none;
                            border-radius: 50%;
                            border: 2px solid #9FA1A7;
                        }
                    }
                }
            }
        }
    }
}