// @font-face {
//     font-family: "Bree Serif";
//     src: url('../font/BreeSerif-Regular.otf') format('otf');
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Bree serif", sans-serif;
    scroll-behavior: smooth;
}

// Brand Color
$primary: #375FEB;
$secondary: #9B5DD5;
$secondary-2: #5486E8;
$secondary-3: #15A8FB;
$secondary-4: #39C2EE;

// Text Color
$color-1: #101324;
$color-2: #13172B;
$color-3: #212433;
$color-4: #404250;
$color-5: #FFFFFF;

// State Colord
$state-1: #3B94E7;
$state-2: #2FA041;
$state-3: #DE8B3F;
$state-4: #FC0E0E;

// Headings
$h1: 50px;
$h2: 43px;
$h3: 36px;
$h4: 30px;
$h5: 25px;
$h6: 22px;


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: $h1;
    line-height: 55px;
}

h2 {
    font-size: $h2;
    line-height: 47.3px;
}

h3 {
    font-size: $h3;
    line-height: 39.6px;
}

h4 {
    font-size: $h4;
    line-height: 33px;
}

h5 {
    font-size: $h5;
    line-height: 27.5px;
}

h6 {
    font-size: $h6;
    line-height: 24.2px;
}

// Body Paragraph
@mixin p-1() {
    font-size: 22px;
    line-height: 33px;
}

@mixin p-2(){
    font-size: 20px;
    line-height: 30px;
}

@mixin p-3(){
    font-size: 18px;
    line-height: 27px;
}

@mixin p-4(){
    font-size: 16px;
    line-height: 24px;
}

@mixin p-5(){
    font-size: 14px;
    line-height: 21px;
}

// Display
@mixin Big-Bold() {
    font-size: 94px;
    line-height: 70.4px;
}

@mixin Big-Light(){
    font-size: 94px;
    line-height: 103.4px;
}

@mixin Large(){
    font-size: 72px;
    line-height: 60px;
}

@mixin Medium-Upper(){
    font-size: 20px;
    line-height: 22px;
}

@mixin Medium-Bold-Upper(){
    font-size: 18px;
    line-height: 22px;
}

@mixin Small-Upper(){
    font-size: 16px;
    line-height: 17.6px;
}

@mixin Normal-title(){
    font-size: 20px;
    line-height: 22px;
}

@mixin Small-title(){
    font-size: 18px;
    line-height: 21.6px;
}

@mixin Extra-Small-title(){
    font-size: 14px;
    line-height: 16.8px;
}