// Video
.video{
    @include relative(100%, 1382px);
    background: #101324;
    .page-video{
        @include relative(100%, 562px);
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(../img/keagan-henman.jpg);
        background-size: cover;
        background-position: center;
        padding: 20px 15px;
        margin-top: 73px;
        border-radius: 5px;
        .icon-play{
            @include relative(87px, 87px);
            @include flex(center);
            border-radius: 50%;
            background: $primary;
            padding-left: 7px;
            margin-top: 218px;
            cursor: pointer;
            transition: .5s ease-out;
            &:hover{
                background: none;
                border: 5px solid $primary;
            }
        }
        .fitur-video{
            @include relative(100%, 41px);
            margin-top: 153px;
            .durasi{
                @include relative(100%, 4px);
                background: rgba(255, 255, 255, 0.1);
                border-radius: 2px;
                span{
                    @include absolute(62px, 100%);
                    top: 0;
                    left: 0;
                    background: #F21E1E;
                }
            }
            .fitur{
                @include relative(100%, 37px);
                @include flex(space-between);
                @include padding-x(15px, 5px);
                margin-top: 19px;
                .left{
                    @include relative(80px, 17px);
                    @include flex(space-between);
                    img{
                        cursor: pointer;
                    }
                }
                .right{
                    position: relative;
                    img{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .about-video{
        @include padding-x(20px, 20px);
        position: relative;
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.13);
        h4{
            color: $color-5;
            margin-top: 31px;
        }
        h6{
            color: $color-5;
            margin-top: 25px;
        }
        p{
            @include p-4();
            color: #9FA1A7;
            margin-top: 8px;
        }
        .list-video{
            @include flex(space-between);
            position: relative;
            width: 100%;
            margin-top: 29px;
            .videos{
                position: relative;
                width: 305px;
                .play{
                    @include relative(100%, 172px);
                    @include flex(center);
                    border-radius: 5px;
                    overflow: hidden;
                    cursor: pointer;
                    transition: .5s ease-out;
                    &:hover .icon-play{
                        background: none;
                        border: 3px solid $primary;
                    }
                    img{
                        @include absolute(100%, 100%);
                        top: 0;
                        left: 0;
                    }
                    .icon-play{
                        @include relative(49px, 49px);
                        @include flex(center);
                        border-radius: 50%;
                        background: $primary;
                        img{
                            @include relative(11px, 14.5px);
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
}